@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-editbutton/profile__avatar-editbutton.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__info-job/profile__info-job.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/element/__container/element__container.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__button-like/element__button-like.css);
@import url(../blocks/element/__button-like/__button-like_active/element__button-like_active.css);
@import url(../blocks/element/__counter-like/element__counter-like.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__heading/_type/popup__heading_type_delete.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__card/popup__card.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_opened/__opened_opaque/popup_opened_opaque.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_visible/popup__input-error_visible.css);

